@import url('https://fonts.cdnfonts.com/css/open-sans');

:root{
    --First: #900C3F;
    --Second: #C70039;
    --Third: #F94C10;
    --Fourth: #F8DE22;

    --BackGroundColor: white;
    --FontColor:black;
    --HoverFontColor:#F94C10;

    --ButtonFontColor: rgb(0, 0, 0);
    --HoverButtonFontColor:#F94C10;
    --FontHoverColor: black;
}

/*Kaydırma çubuğu özelleştirme*/

::-webkit-scrollbar {
    width: 10px;
    z-index: 20 !important;
  }
  
  /*Kaydırma çubuğunun içindedki büyük çubuk*/
  ::-webkit-scrollbar-track {
    background-color: rgb(225, 225, 225);
  }
  
  /*Kaydırma çubuğunun içindedki küçük çubuk*/
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #F94C10;
  }

  /* Kaydırma çubuğu site içi hızlı değil yumuşak geçmesi için */
html {
    scroll-behavior: smooth;
  }
  
body{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    max-width: 100%;
    min-width: 100%;

    max-height: auto;
    min-height: auto;

    background-color:var(--BackGroundColor);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
    font-family: 'Open Sans';
}

header{
    max-width: 80%;
    min-width: 80%;
    
    height: auto;
    
    display: flex;
    flex-direction: column;
    position: relative;
}

.topmenu{
    max-width: 100%;
    min-width: 100%;

    max-height: 5vh;
    min-height: 5vh;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}

.topmenu a{
  list-style: none;
  text-decoration: none;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(163, 163, 163);
}

.topmenu a:hover{
  color: rgb(131, 128, 128);
}

nav{
    max-width: 100%;
    min-width: 100%;

    max-height: 15vh;
    min-height: 15vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.logo{
  max-width: 25%;
  min-width: 25%;

  max-height: 100%;
  min-height: 100%;
}

.logo img{
  width: 100%;
  height: 100%;
}

.searchbar{
  max-width: 45%;
  min-width: 45%;

  max-height: 100%;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.searchbar form{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.searchbar form .search,
.searchbar form .button{
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar form .search{
  width: 80%;
}
.searchbar form .search input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
}

.searchbar form .button{
  width: 20%;
}

.searchbar form .button button{
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: white;
  color: var(--ButtonFontColor);
  transition: all 350ms ease-in-out;
}

.searchbar form .button button:hover{
  color: white;
  background-color: var(--HoverButtonFontColor);
  height: 105%;
}

.account{
  max-width: 25%;
  min-width: 25%;

  max-height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .login,
.account .basket{
  display: block;
  width: 40%;
  margin: 0 5px;
  height: 6vh;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  transition: 350ms ease-in-out all;
}

.account .login i,
.account .basket i{
  margin:0 12px;
  line-height: 5vh;

}

.account .login:hover,
.account .basket:hover{
  background-color: var(--HoverButtonFontColor);
  border-color: var(--HoverButtonFontColor);

}
.account .login:hover i,
.account .login:hover span,
.account .basket:hover i,
.account .basket:hover span{
  color: white;

}

.submenu{
    max-width: 100%;
    min-width: 100%;

    max-height: 10vh;
    min-height: 10vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
}
.submenu ul{
  width: 100%;
  height: 5vh;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: .5px rgba(193, 193, 193, 0.673) solid;
}
.submenu li{
  height: 5vh;
  margin-left: 30px;
  list-style: none;
}

.submenu li a{
  width: 100%;
  height: 5vh;
  display: block;
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 5vh;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submenu li:hover a{
  color: var(--HoverFontColor);
  border-bottom: 3px solid var(--HoverFontColor);
}

main{
    max-width: 80%;
    min-width: 80%;
    position: relative;
    height: auto;
}

.deneme{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.kutu{
  width: 20%;
  height: 50vh;
  transition: all 350ms ease-in-out;
  position: relative;
  overflow: hidden;
}
.kutu p{
  width: 100%;
  position: absolute;
  z-index: 2;
  text-align: center;
  transform: translateY(-150px);
  transition: all 350ms ease-in-out;
  background-color: var(--Second);
  color: var(--Fourth);
}
.kutu img{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .8;
  transform: scale(2);
}

.kutu .category{
  z-index: 2;
  opacity: 1;
  width:20% ;
  font-size: 35px;
  font-family: 'Open Sans';
  color: white;
  position: absolute;
  top: 40%;
  left: 30%;
  transition: all 350ms ease-in-out;

}

.kutu button{
  width: 30%;
  height: 40px;
  position: absolute;
  bottom: 10%;
  left: 35%;
  transform: translateY(150px);
  transition: all 350ms ease-in-out;
  border: none;
  border-radius: 10px;
  background-color: var(--Second);
  color: white;
  cursor: pointer;
}
.kutu:hover button{
  transform: translateY(10px);
}

.kutu:hover p{
  transform: translateY(10px);
}
.kutu:hover img{
  opacity: 1;
  transform: scale(1);
}

.kutu:hover .category{
  opacity: 0;
}

.kutu1:hover,
.kutu2:hover,
.kutu3:hover,
.kutu4:hover,
.kutu5:hover{
  width: 50%;
}

.gender-card{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.box{
  width: 50%;
  height: 80vh;
  overflow: hidden;
  outline: none;
  border: none;
  position: relative;
}

.box1 img,
.box2 img{
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: all 350ms ease-in-out;
}

.box1 h1,
.box2 h1{
  position: absolute;
  font-family: sans-serif;
  z-index: 100;
  transition: all 350ms ease-in-out;
  background-color: var(--First);
  color: var(--Fourth);
  user-select: none;
}

.box1 h1{
  top: -100px;
  left: -100px;
}

.box2 h1{
  top: -100px;
  right: -100px;
}

.box button{
  width: 20%;
  height: 40px;
  position: absolute;
  bottom: 10%;
  left: 40%;
  transform: translateY(150px);
  transition: all 350ms ease-in-out;
  border: none;
  border-radius: 10px;
  background-color: var(--Second);
  color: white;
  cursor: pointer;
}

.box1:hover img,
.box2:hover img{
  transform: scale(1);
  opacity: 1;
}
.box1:hover button,
.box2:hover button{
  transform: translateY(10px);
}
.box1:hover h1{
  top: 20px;
  left: 20px;
}
.box2:hover h1{
  top: 20px;
  right: 20px;
}

.wrapper {
  max-width: 100%;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 50;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 5) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  padding-bottom: 15px;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  border: 1px solid rgb(187, 186, 186);
  position: relative;
  overflow: hidden;
}
.carousel .card:hover{
  box-shadow: 2px 4px 8px rgb(209, 209, 209);
}
.carousel .card:hover img{
  transform: scale(1.2);
}
.carousel .card .img {
  height: 148px;
  width: 100%;
}
.card .img img {
  margin-top: 20px;
  width: 100%;
  height: 140px;
  object-fit: cover;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.carousel .card button{
width: 40%;
height: 40px;
position: absolute;
bottom: 10%;
left: 30%;
transform: translateY(150px);
transition: all 350ms ease-in-out;
border: none;
border-radius: 10px;
background-color: var(--Third);
color: white;
cursor: pointer;
}
.carousel .card:hover button{
  transform: translateY(25px);
}


.opportunity{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.opportunity-box{
  position: relative;
  width: 32%;
  height: 30vh;
  background-color: black;
  margin: 10px  0 10px;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.85;
  transition: all 350ms ease;
  border-radius: 10px;
}

.opportunity-box img{
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.8;
  transition: all 350ms ease;
}

.opportunity-box .p{
  width: 30%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  background-color: var(--First);
  color: rgb(255, 255, 255);
  opacity: 1;
  transition: all 350ms ease;

}

.opportunity-box .p p{
  width: 100%;
  text-align: center;
  font-size: 23px;
  font-family:'Open Sans';
  transition: all 350ms ease;
  text-transform: uppercase;
}

.opportunity-box .text1{
  width: 100%;
  height: 10%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  text-align: center;
  background-color: red;
  color: rgb(255, 255, 255);
  overflow: hidden;
  transform: translateY(150px);
  font-family:'Open Sans';
  transition: all 350ms ease;

}

.opportunity-box:hover{
  opacity: 1;
  transform: scale(1.02);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.opportunity-box:hover .text1{
  transform: translateY(0);
}
footer{
    max-width: 100%;
    min-width: 100%;

    height: 40vh;
    background-color: #900C3F;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

footer .container{
  width: 15%;
  height: 100%;
}

footer .container h1{
  margin-left: 15%;
font-weight: bolder;
color: white;
user-select: none;
}

footer .container li {
  list-style: none;
  margin-top: 1vh;
}

footer .container li a{
  text-decoration: none;
  font-size: 14px;
  color: white;
  user-select: none;
}

footer .container li a:hover{
  border-bottom: white 1px solid;
}
.copyright{
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  background-color: #C70039;
  user-select: none;
}


#myBtn {
    display: none;
    position: fixed;
    height: 40px;
    bottom: 30px;
    right: 30px;
    z-index: 99;

    background-color: white;
    border: 1px solid white;
    box-shadow: 1px 2px 8px gray;
    border-radius: 12px;

    outline: none;
    cursor: pointer;
    transition: all 350ms ease;
  }
  #myBtn i, #myBtn p{
    display: inline;
    padding: 5px;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: var(--ButtonFontColor);
    user-select: none;
  }
  #myBtn:hover {
    transform: translateY(-10px);
    border: 1px solid var(--HoverButtonFontColor);
  }
  #myBtn:hover i,
  #myBtn:hover p{
    color: var(--HoverButtonFontColor);
  }


@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
