@import url('https://fonts.cdnfonts.com/css/open-sans');

:root{
    --First: #900C3F;
    --Second: #C70039;
    --Third: #F94C10;
    --Fourth: #F8DE22;

    --BackGroundColor: white;
    --FontColor:black;
    --HoverFontColor:#F94C10;

    --ButtonFontColor: rgb(0, 0, 0);
    --HoverButtonFontColor:#F94C10;
    --FontHoverColor: black;
}

/*Kaydırma çubuğu özelleştirme*/

::-webkit-scrollbar {
    width: 10px;
    z-index: 20 !important;
  }
  
  /*Kaydırma çubuğunun içindedki büyük çubuk*/
  ::-webkit-scrollbar-track {
    background-color: rgb(225, 225, 225);
  }
  
  /*Kaydırma çubuğunun içindedki küçük çubuk*/
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #F94C10;
  }

  /* Kaydırma çubuğu site içi hızlı değil yumuşak geçmesi için */
html {
    scroll-behavior: smooth;
  }
  
body{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    max-width: 100%;
    min-width: 100%;

    max-height: auto;
    min-height: auto;

    background-color:var(--BackGroundColor);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-x: hidden;
}

header{
    max-width: 80%;
    min-width: 80%;
    
    height: auto;
    
    display: flex;
    flex-direction: column;
    position: relative;
}

.topmenu{
    max-width: 100%;
    min-width: 100%;

    max-height: 5vh;
    min-height: 5vh;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}

.topmenu a{
  list-style: none;
  text-decoration: none;
  margin-left: 20px;
  font-size: 12px;
  font-weight: bold;
  color: rgb(163, 163, 163);
}

.topmenu a:hover{
  color: rgb(131, 128, 128);
}

nav{
    max-width: 100%;
    min-width: 100%;

    max-height: 15vh;
    min-height: 15vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

.logo{
  max-width: 25%;
  min-width: 25%;

  max-height: 100%;
  min-height: 100%;
}

.logo img{
  width: 100%;
  height: 100%;
}

.searchbar{
  max-width: 45%;
  min-width: 45%;

  max-height: 100%;
  min-height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.searchbar form{
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.searchbar form .search,
.searchbar form .button{
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar form .search{
  width: 80%;
}
.searchbar form .search input{
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
}

.searchbar form .button{
  width: 20%;
}

.searchbar form .button button{
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: white;
  color: var(--ButtonFontColor);
  transition: all 350ms ease-in-out;
}

.searchbar form .button button:hover{
  color: white;
  background-color: var(--HoverButtonFontColor);
  height: 105%;
}

.account{
  max-width: 25%;
  min-width: 25%;

  max-height: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account .login,
.account .basket{
  display: block;
  width: 40%;
  margin: 0 5px;
  height: 6vh;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  transition: 350ms ease-in-out all;
}

.account .login i,
.account .basket i{
  margin:0 12px;
  line-height: 5vh;

}

.account .login:hover,
.account .basket:hover{
  background-color: var(--HoverButtonFontColor);
  border-color: var(--HoverButtonFontColor);

}
.account .login:hover i,
.account .login:hover span,
.account .basket:hover i,
.account .basket:hover span{
  color: white;

}

.submenu{
    max-width: 100%;
    min-width: 100%;

    max-height: 10vh;
    min-height: 10vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
}
.submenu ul{
  width: 100%;
  height: 5vh;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: .5px rgba(193, 193, 193, 0.673) solid;
}
.submenu li{
  height: 5vh;
  margin-left: 30px;
  list-style: none;
}

.submenu li a{
  width: 100%;
  height: 5vh;
  display: block;
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  line-height: 5vh;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submenu li:hover a{
  color: var(--HoverFontColor);
  border-bottom: 3px solid var(--HoverFontColor);
}

main{
    max-width: 80%;
    min-width: 80%;
    position: relative;
    height: auto;
}

.deneme{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.kutu{
  width: 20%;
  height: 50vh;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}
.kutu1{
  background-color: #0c907e;

}
.kutu2{
  background-color: black;

}
.kutu3{
  background-color: blue;

}
.kutu4{
  background-color: orange;

}
.kutu5{
  background-color: yellow;

}
.kutu1:hover,
.kutu2:hover,
.kutu3:hover,
.kutu4:hover,
.kutu5:hover{
  width: 50%;
}

.gender-card{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.box{
  width: 50%;
  height: 80vh;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

.box1{
  background-color: rgb(225, 40, 40);

}
.box2{
  background-color: rgb(21, 9, 232);

}

.opportunity{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.opportunity-box{
  width: 32%;
  height: 40vh;
  background-color: black;
  margin: 10px  0 10px;
}

footer{
    max-width: 80%;
    min-width: 80%;

    height: 100vh;
    background-color: #900C3F;
}

.copyright{
  width: 80%;
  height: auto;
  text-align: center;
  color: white;
  background-color: #C70039;
}


#myBtn {
    display: none;
    position: fixed;
    height: 40px;
    bottom: 30px;
    right: 30px;
    z-index: 99;

    background-color: white;
    border: 1px solid white;
    box-shadow: 1px 2px 8px gray;
    border-radius: 12px;

    outline: none;
    cursor: pointer;
    transition: all 350ms ease;
  }
  #myBtn i, #myBtn p{
    display: inline;
    padding: 5px;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: var(--ButtonFontColor);
    user-select: none;
  }
  #myBtn:hover {
    transform: translateY(-10px);
    border: 1px solid var(--HoverButtonFontColor);
  }
  #myBtn:hover i,
  #myBtn:hover p{
    color: var(--HoverButtonFontColor);
  }




  .wrapper {
    max-width: 100%;
    position: relative;
  }
  
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 6) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    border-radius: 8px;
    scroll-behavior: smooth;
    overflow-x: hidden
  }
  
  
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: smooth;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    border: 1px rgb(207, 207, 207) solid;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  
  
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }

